In [20]:
import pandas as pd

In [21]:
data = pd.read_csv("data/new.csv", delimiter = ",", encoding= 'unicode_escape')

C:\Users\xu_me\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (1,11,12,14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [22]:
data = data.dropna().drop_duplicates().rename(columns = {"livingRoom": "bedRoom", "drawingRoom": "livingRoom"})

In [23]:
data.columns

Index(['url', 'id', 'Lng', 'Lat', 'Cid', 'tradeTime', 'DOM', 'followers',
       'totalPrice', 'price', 'square', 'bedRoom', 'livingRoom', 'kitchen',
       'bathRoom', 'floor', 'buildingType', 'constructionTime',
       'renovationCondition', 'buildingStructure', 'ladderRatio', 'elevator',
       'fiveYearsProperty', 'subway', 'district', 'communityAverage'],
      dtype='object')

In [24]:
data_focus = data[['Lng', 'Lat', 'tradeTime', 'DOM', 'followers','totalPrice', 'price', 'square', 'renovationCondition',
            'constructionTime']]

In [25]:
data_focus

,Lng,Lat,tradeTime,DOM,followers,totalPrice,price,square,renovationCondition,constructionTime
0,116.475489,40.019520,2016-08-09,1464.0,106,415.0,31680,131.00,3,2005
1,116.453917,39.881534,2016-07-28,903.0,126,575.0,43436,132.38,4,2004
2,116.561978,39.877145,2016-12-11,1271.0,48,1030.0,52021,198.00,3,2005
3,116.438010,40.076114,2016-09-30,965.0,138,297.5,22202,134.00,1,2008
4,116.428392,39.886229,2016-08-28,927.0,286,392.0,48396,81.00,2,1960
...,...,...,...,...,...,...,...,...,...,...
318844,116.550348,39.755625,2016-06-10,1.0,6,268.0,22709,118.02,4,2006
318845,116.546899,39.755236,2016-06-09,1.0,8,355.5,26491,134.20,4,2009
318846,116.546899,39.755236,2016-06-10,1.0,8,350.0,20580,170.07,1,2003
318848,116.497256,39.804081,2016-06-05,1.0,2,359.0,35138,102.17,3,2000
318850,116.497474,39.810115,2016-06-11,1.0,0,450.0,48675,92.45,4,Î´Öª

In [26]:
data_general = data[['Lng', 'Lat', 'tradeTime', 'DOM', 'followers',
       'totalPrice', 'price', 'square', 'bedRoom', 'livingRoom', 'kitchen',
       'bathRoom', 'floor', 'buildingType', 'constructionTime',
       'renovationCondition', 'buildingStructure', 'ladderRatio', 'elevator',
       'fiveYearsProperty', 'subway', 'district', 'communityAverage']]

In [29]:
data_general.to_csv('data/data.csv')

In [30]:
data_focus.to_csv('data/data_smaller.csv')